.slider {
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.slider img {
    width: 100%;
    height: auto;
}
.bx-wrapper{
    border: none;
}
#section-informe{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-informe h1{
    font-size: 24px;
    color:  #2973a2;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.container-informe{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-informe article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-informe img{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin-bottom: 25px;
}
.container-informe a{
    width: 160px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #ff5a5f;
    text-transform: uppercase;
    text-decoration: none;
}
.atencion-salud{
    background-color: #2973a2;
    color: white;
    padding: 60px 0px;
    margin-bottom: 20px;
}
.atencion-salud .virus{
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    border-right: 4px solid;
}
.atencion-salud .virus img{
    width: 40%;
    margin-bottom: 10px;
}
.atencion-salud .virus h4{
    font-size: 24px;
    font-weight: 600;
}
.atencion-salud .info{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.info p{
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 15px;
}
.container-atencion-salud{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.container-atencion-salud .container-tel{
    width: 55%;
    border: 2px solid #ff5a5f;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-tel p{
    font-size: 16px;
    margin-bottom: 5px;
}
.container-atencion-salud .tel{
    display: flex;
    align-items: center;
}
.tel i{
    font-size: 30px;
    margin-right: 15px;
}
.tel h3{
    font-size: 35px;
}

/* pagina enfermedad */

.navegador{
    background-color: #2973a2;
}
.navegador ul{
    display: flex;
    justify-content: center;
}
.navegador li{
    list-style: none;
}
.navegador a{
    text-decoration: none;
    color:white;
    padding: 10px 30px 10px 30px;
    display: block;
}
.navegador a:hover{
    color: #f5f5f5;
    background-color: #ff5a5f ;
}
#enfermedad-page{
    margin-top: 40px;
    width: 80%;
}
#enfermedad-page h1{
    text-align: center;
    margin-bottom: 30px;
    color: #444;
}
.principal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.principal img, .mapa img{
    box-sizing: border-box;
    width: 48%;
    border-radius: 5%;
}
.container-text{
    box-sizing: border-box;
    width: 48%;
}
.container-text p, .container-form p{
    display: block;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 30px;
}
.btn{
    font-size: 16px;
    background-color:  #ff5a5f;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

#enfermedad-page h2, #hospitales-page h2{
    text-align: center;
    color: #444;
    font-weight: 400;
    margin-bottom: 30px;
}
.sintomas-img{
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sintomas-img img{
    width: 44%;
    margin: 20px 20px 20px 0px;
} 
.container-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.container-form article{
    box-sizing: border-box;
    width: 48%;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-form form p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 11px;
}
.container-input{
    display: flex;
    flex-direction: column;
}
.container-input-big{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-input-medium{
    display: flex;
    flex-direction: column;
    width: 46%;
}
.container-input-small{
    display: flex;
    flex-direction: column;
    width: 15%;
    flex-wrap: wrap;
}
form input, select, .form-contacto input, .form-contacto textarea{
    padding: 8px 0px 8px 15px;
    border-radius: 2%;
    outline: none;
    background-color: #f5f5f5;
    border:  #ff5a5f 2px solid;
    margin-bottom: 15px;
}
.especial{
    width: 30%;
}
form label{
    color: #444;
    font-size: 14px;
    margin-bottom: 8px;
}
.container-radio-input{
    display: flex;
}
.container-input-inline{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
select{
    width: 70%;
}
.label-pregunta{
    margin-right: 5px;
}
.precaucion-img-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.precaucion-img-group img{
    width: 17%;
    margin-right: 33px;
}
.mapa{
    margin-bottom: 40px;
    display: flex;
}
.mapa iframe{
    width: 600px;
    height:300px;
    border: none;
}
.mapa h3, .container-form h3{
    color: #444;
    font-weight: 400;
    line-height: 2.5em;
}
.mapa p{
    font-size: 16px;
    line-height: 1.6em;
    color: #444;
}
.mapa img{
    margin-top: 15px;
}
.error{
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.contenedor-error{
    margin: 5px;
}
#mensaje p{
    font-weight: 400;
    font-size: 14px;
    margin: 0px !important;
    color: #444444;
    line-height: 1.6em;
}
.mostrar-error{
    border: 1.5px dashed #f44336;
    padding: 1em;
    border-radius: 1em;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 5px;
}
.mostrar-validacion{
    border: 1px dashed #4CAF50;
    padding: 1em;
    border-radius: 1em;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 5px;
}
#ocultar{
   display: none;
}
#container-input-{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#boton-form{
    margin-top: 20px;
}


@media screen and (max-width: 1024px) { 
    
    #searchbar{
        background-color: #efefef;
        padding: 10px 20px 10px 20px;
        border: none;
        border-radius: inherit;
        margin: 0px;
        width: 200px;
    }
     #section-informe h1 {
        font-size: 100%;
        text-align: center;
    }
   
    .container-informe {
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .atencion-salud{
        background-color: #2973a2;
        color: white;
        padding: 30px 0px;
        margin-bottom: 20px;
    }
    .container-informe article{
        margin-bottom: 20px;
    }
    .container-atencion-salud {
        display: flex;
        flex-direction: column;
        padding: 0%;
        display: flex;
        flex-direction: column;
    }

    .atencion-salud .virus{
        width: 95%;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        border-bottom: 4px solid;
        border-right: transparent;
        margin: 20px;
    }
    
    .atencion-salud .virus img{
        width: 15%;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
   
    .atencion-salud .virus h4{
        font-size: 24px;
        font-weight: 600;
        margin: 10px;
    }

    .atencion-salud .info{
        width: 98%;
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .info p{
        font-size: 28px;
        font-weight: 200;
        margin-bottom: 23px;
        text-align: center;
        justify-content: center;
    }

   /* .container-atencion-salud{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }*/
    .container-atencion-salud .container-tel{
        width: 90%;
        border: 2px solid #ff5a5f;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-atencion-salud .tel{
        display: flex;
        align-items: center;
    }
    .tel i{
        font-size: 30px;
        margin-right: 15px;
    }
    .tel h3{
        font-size: 20px;
    }
    .container-tel p{
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}






